$st5: #FFE68E;
$st7: #A7E1FF;

.info {
  display: flex;
  justify-content: space-between;
  background: $st7;
  width: calc(100% - 40px);
  height: auto;
  max-height: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  transition: all 1s;
  text-align: left;

  .left {
    width: calc(100% - 85px);
  }

  .right {
    display: flex;
    align-items: center;
    margin-top: -12px;
    margin-bottom: -12px;

    .arrow {
      background-color: $st5;
      background-image: url(../../../../assets/images/arrow-next.svg);
      background-repeat: no-repeat;
      background-position: 18px center;
      width: 45px;
      height: 45px;
      border-radius: 50%;
      border: none;
      outline: none;
      transform: rotate(270deg);
      transition: 1s all;
      cursor: pointer;
    }
  }

  .title {
    text-transform: uppercase;
  }

  .text {
    margin-bottom: 0;
    opacity: 0;
    transition: all 1s;
  }

  &.open {
    max-height: 200px;

    .text {
      opacity: 1;
    }
    
    .arrow {
      transform: rotate(90deg);
    }
  }
}
