extends ../templates/zoo.pug
include ../components/info2/info2.pug

block title
  | Gorilla

block pageTitle
  | Gorilla

block infoTop
  +info2({
    zoo: "GRACE Center (Kasugho, Eastern DRC)",
    type: "Imitation of the natural environment"
  })