extends ../templates/zoo.pug
include ../components/info2/info2.pug

append config
  - var animal = 'gorilla'

block title
  | Gorilla

block pageTitle
  | Gorilla

block infoTop
  +info2({
    zoo: "GRACE Center (Kasugho, Eastern DRC)",
    type: "Imitation of the natural environment"
  })