$st5: #FFE68E;

.arrow {
  background-color: $st5;
  background-image: url('../../assets/images/arrow-next.svg');
  background-repeat: no-repeat;
  background-position: 18px center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: none;
  outline: none;
  transition: 1s all;
  cursor: pointer;
  opacity: 0.8;
  transition: .2s all;

  &.arrow-left,
  &.arrow-right {
    width: 64px;
    height: 64px;
    background-position: 27px center;
  }

  &.arrow-left {
    transform: rotate(180deg);
  }  

  &.arrow-up {
    transform: rotate(270deg);
    width: 45px;
    height: 45px;
  }

  &.arrow-down {
    transform: rotate(90deg);
    width: 45px;
    height: 45px;
  }

  &:hover {
    opacity: 1;
  }
}
