include ../components/arrow/arrow.pug
include ../components/card-animal/card-animal.pug

doctype html
html
  head
    meta(charset='utf-8')
    title
      | Online Zoo - Landing
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(href='./style.css' rel='stylesheet')
  <body>
    <header>
      <div class="container menu">
        <div class="left">
          <div class="logo">
            <img src="../../assets/images/logo.svg" alt="logo">        
          </div>
          <ul class="nav">
            <li class="nav-item"><a href="#" class="nav-link active">About</a></li>
            <li class="nav-item"><a href="../map/" class="nav-link">Map</a></li>
            <li class="nav-item"><a href="../zoos/panda/" class="nav-link">Zoos</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Contact us</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Design</a></li>
          </ul>          
        </div>
        <div class="right"></div>
      </div>
      <div class="container panda">
        <h1>Watch your favorite animal ONLINE</h1>
        <button class="btn">Play</button>
      </div>
    </header>

    <main>
      <section class="how">
        <div class="container">
          <h2>How it works</h2>
          <div class="photo">
            <div class="bg1"></div>
            <div class="bg2"></div>
            <ul class="slider">
              <li class="slot slot1">
                <img src="../../assets/images/how/animal1.jpg" alt="animal-name">
              </li>
              <li class="slot slot2">
                <img src="../../assets/images/how/animal2.jpg" alt="animal-name">
              </li>
              <li class="slot slot3">
                <img src="../../assets/images/how/animal3.jpg" alt="animal-name">
              </li>
              <li class="slot slot4">
                <img src="../../assets/images/how/animal4.jpg" alt="animal-name">
              </li>
              <li class="slot slot5">
                <img src="../../assets/images/how/animal5.jpg" alt="animal-name">
              </li>
            </ul>
          </div>
          <div class="text">
            <p>
              The application Оnline zoo will allow you to watch zoos' and nature reserves' inhabitants in live. Currently, under video-surveillance are pandas in China, eagles on Catalina Island (USA), alligators in Florida and gorillas in the Congo. We are expanding our capabilities and soon online you will meet Arctic snowy owl in Alaska, Penguin in California, Elephant from South Africa and Polar bear from Canada. You will see unique video-shots at any time of the day. If you liked a pet you watch and you want to please it with a delicious treat, you can pay a donation and the animal will receive a surprise from you during feeding hours.
              We want to thank you for helping the animals and give you discount coupons from our partners.
            </p>
          </div>
        </div>
      </section>

      <section class="pets">
        <div class="container">
          <h2>Pets in zoo</h2>
          .slider
            .left
              +arrow({dir: 'left'})
            .item
              +cardAnimal({fileName: 'panda', title: 'Panda, China'})
              +cardAnimal({fileName: 'polar_bear', title: 'Polar bear, Canada'})
            .item
              +cardAnimal({fileName: 'alligator', title: 'Alligator, USA'})
              +cardAnimal({fileName: 'bald_eagle', title: 'Bald eagle, USA'})
            .item
              +cardAnimal({fileName: 'gorilla', title: 'Gorilla, Eastern DRC'})
              +cardAnimal({fileName: 'arctic_owl', title: 'Arctic snowy owl, Alaska'})
            .item
              +cardAnimal({fileName: 'elephant', title: 'Elephant, South Africa'})
              +cardAnimal({fileName: 'penguin', title: 'Penguin, USA'})
            .right
              +arrow({dir: 'right'})
        </div>
      </section>

      <section class="pay">
        <div class="container">
          <h2>Pay and feed</h2>
        </div>
      </section>

      <section class="testimonials">
        <div class="container">
          <h2>Testimonials</h2>
        </div>
      </section>
    </main>

    include ../components/footer/footer.pug 

    <script src="./scripts.js"></script>
  </body>
</html>