include ../components/header/header.pug
include ../components/footer/footer.pug
include ../components/arrow/arrow.pug
include ../components/btn-green/btn-green.pug
include ../components/card-animal/card-animal.pug
include ../components/card-comment/card-comment.pug

doctype html
html
  head
    meta(charset='utf-8')
    title
      | Online Zoo - Landing
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(href='./style.css' rel='stylesheet')
    <link rel="shortcut icon" href="../../assets/icons/favicon.ico" type="image/x-icon">
  <body>
    .headerWrapper
      +header({isZoo: false, path: 'landing'}) 
      .bg1
      .bg2
      .container.panda
        h2
          | Watch your favorite animal ONLINE
        a(href="../zoos/panda/") 
          +btnGreen({text: 'Play', h: 50, w: 233})

    <main>
      <section class="how">
        <div class="container">
          <h2>How it works</h2>
          <div class="photo">
            .bg1
            .bg2
            ul.slider
              <li class="slot slot1">
                <img src="../../assets/images/how/animal1.jpg" alt="animal-name">
              </li>
              <li class="slot slot2">
                <img src="../../assets/images/how/animal2.jpg" alt="animal-name">
              </li>
              <li class="slot slot3">
                <img src="../../assets/images/how/animal3.jpg" alt="animal-name">
              </li>
              <li class="slot slot4">
                <img src="../../assets/images/how/animal4.jpg" alt="animal-name">
              </li>
              <li class="slot slot5">
                <img src="../../assets/images/how/animal5.jpg" alt="animal-name">
              </li>
          </div>
          <div class="text">
            p
              | The application Оnline zoo will allow you to watch zoos' and nature reserves' inhabitants in live.
              | Currently, under video-surveillance are pandas in China, eagles on Catalina Island (USA),
              | alligators in Florida and gorillas in the Congo. We are expanding our capabilities and soon online
              | you will meet Arctic snowy owl in Alaska, Penguin in California, Elephant from South Africa and
              | Polar bear from Canada. You will see unique video-shots at any time of the day. If you liked a pet
              | you watch and you want to please it with a delicious treat, you can pay a donation and the animal
              | will receive a surprise from you during feeding hours.
            p
              | We want to thank you for helping the animals and give you 
              a(href="https://www.disneylandparis.com/en-us/", target="_blank") discount coupons
              |  from our partners.
          </div>
        </div>
      </section>

      <section class="pets">
        <div class="container">
          <h2>Pets in zoo</h2>
          .slider
            .left
              +arrow({dir: 'left'})
            .item
              +cardAnimal({fileName: 'panda', title: 'Panda, China', link: 'panda'})
              +cardAnimal({fileName: 'polar_bear', title: 'Polar bear, Canada'})
            .item
              +cardAnimal({fileName: 'alligator', title: 'Alligator, USA', link: 'aligator'})
              +cardAnimal({fileName: 'bald_eagle', title: 'Bald eagle, USA', link: 'eagle'})
            .item
              +cardAnimal({fileName: 'gorilla', title: 'Gorilla, Eastern DRC', link: 'gorilla'})
              +cardAnimal({fileName: 'arctic_owl', title: 'Arctic snowy owl, Alaska'})
            .item
              +cardAnimal({fileName: 'elephant', title: 'Elephant, South Africa'})
              +cardAnimal({fileName: 'penguin', title: 'Penguin, USA'})
            .right
              +arrow({dir: 'right'})
          a(href="../map/") 
            +btnGreen({text: 'Choose your favorite', h: 50, w: 286})
        </div>
      </section>

      <section class="pay">
        <div class="container">
          <h2>Pay and feed</h2>
          .wrapper 
            .arrows
            .card
              .icon 
                img(src="../../assets/images/pay/card.png", alt="card")
              .text 
                | You can pay for a donation to any animal using your Credit/Debit card
            .card
              .icon 
                img(src="../../assets/images/pay/zoo.png", alt="zoo")
              .text 
                | Donations will go to the account of the zoo or nature reserve
            .card
              .icon 
                img(src="../../assets/images/pay/panda.png", alt="panda")
              .text 
                | The animal will receive a delicious treat during feeding hours
        </div>
      </section>

      <section class="testimonials">
        <div class="container">
          <h2>Testimonials</h2>
          .wrapper
            .left
              +arrow({dir: 'left'})
            .item
              +cardComment({
                fileName: 'Karen',
                title: 'Karen Maitland',
                coin: 10,
                text: '"Thank you so much for these wonderful live webcams of the eagles on Catalina Island. Being able to watch them in their natural habitat as opposed to zoos is so wonderful. I cannot see myself ever being able to come up there to see them in person, so this is a great substitute. Thank you again."',
              })
            .item
              +cardComment({
                fileName: 'Sara',
                title: 'Sara Jones',
                coin: 13,
                text: '"A disability prevents me from enjoying the outdoors and travel like I used to do. I really enjoy all the live cams and can spend HOURS watching real-time entertainment. Wild life style!"',
              })              
            .item
              +cardComment({
                fileName: 'Alex',
                title: 'Alex Barden',
                coin: 7,
                text: '"Here\'s a huge "thank-you" from New Hampshire - you allow me to travel the world without ever leaving the comfort of my office chair. Jammies on and coffee cup in hand, I am Phineas Fogg!!"',
              })
            .item
              +cardComment({
                fileName: 'Alene',
                title: 'Alene Ray',
                coin: 18,
                text: '"Thank you for all the knowledge, education, pleasure and happiness you have add to all our lives at no expense on our part. My humble thanks and gratitude are being wished for all of you. I want to thank you and feed the animals a small reward"',
              })
            .right
              +arrow({dir: 'right'})
          +btnGreen({text: 'Leave feedback', h: 50, w: 246})
        </div>
      </section>
    </main>

    +footer({isZoo: false})

    <script src="./scripts.js"></script>
  </body>
</html>