include ../components/header/header.pug
include ../components/footer/footer.pug

doctype html
html
  head
    meta(charset='utf-8')
    title
      | Online Zoo -  
      block title
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(href='./style.css' rel='stylesheet')
    <link rel="shortcut icon" href="../../assets/icons/favicon.ico" type="image/x-icon">
  body
    +header({isZoo: false, path: 'map'}) 
    
    main
      section.map
        .container
          block content

    +footer({isZoo: false}) 
  
    <script src="./scripts.js"></script>
