include ../components/header/header.pug
include ../components/footer/footer.pug
include ../components/menu-zoos/menu-zoos.pug

block config

doctype html
html
  head
    meta(charset='utf-8')
    title
      | Online Zoo -  
      =title
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(href='../style.css' rel='stylesheet')
    <link rel="shortcut icon" href="../../../assets/icons/favicon.ico" type="image/x-icon">

  body
    +header({isZoo: true}) 
    
    .mainWrapper
      aside 
        +menuZoos({animal})
      main
        section.title
          .container
            h1
              =title

        section.video
          .container
            .top
              +yPlayer({id: video})
            .small 
              .item
                +yPlayer({id: video})
              .item
                +yPlayer({id: video})
              .item
                +yPlayer({id: video})
              .item
                +yPlayer({id: video})

        section.information
          .container
            .top
              block infoTop
            .bottom
              .col
                block infoLeft
              .col
                block infoRight

    +footer({isZoo: true}) 
  
    <script src="../script.js"></script>
