$st1: #70CB0E;
$st2: #212121;
$st3: #FFFFFF;
$st4: #DFF5B0;
$st5: #FFE68E;
$st6: #9CA498;
$st7: #A7E1FF;

body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 40px;
  font-weight: 500;
  line-height: 47px;
  margin: 0;
}

.container {
  max-width: 1160px;
  width: 100%;
  margin: 0 auto;
}

section {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 70px;
  margin-bottom: 70px;
}

.video {
  margin-bottom: 30px;

  .top {
    width: 100%;
    height: 653px;
  }

  .small {
    width: 100%;
    height: 155px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

    .item {
      width: 275px;
    }
  }
}

.information {
  margin-top: 30px;

  .bottom {
    display: flex;
    justify-content: space-between;

    .col {
      width: calc(50% - 10px);
    }      
  }
}