$st1: #70CB0E;
$st2: #212121;
$st3: #FFFFFF;
$st4: #DFF5B0;
$st5: #FFE68E;
$st6: #9CA498;
$st7: #A7E1FF;

body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 48px;
}

.container {
  max-width: 1160px;
  width: 100%;
  margin: 0 auto;
}

section {
  display: flex;
  justify-content: center;
  text-align: center;
}

// .video {

// }

  .information {

    .bottom {
      display: flex;
      justify-content: space-between;

      .col {
        width: calc(50% - 10px);
      }      
    }
  }