extends ../templates/zoo.pug
include ../components/info/info.pug
include ../components/info2/info2.pug

block title
  | Panda

block pageTitle
  | Panda

block video
  | Здесь будет видео

block infoTop
  +info2({
    zoo: "The Shenshuping Gengda Panda Center (Sichuan, China)",
    type: "Imitation of the natural environment"
  })

block infoLeft
  +info({
    title: "Population",
    text: "There are only an estimated 1600 pandas in the wild and about 325 in captivity."
  })

  +info({
    title: "Nutrition",
    text: "Bamboo is indispensable for the big panda, 99% of their food is made up of shoots and leaves of the plant. Bamboo does not have a high nutritional value. And to meet the daily energy requirement, pandas need to eat between 23 and 40 kg of evergreen per day."
  })

block infoRight
  +info({
    title: "The Shenshuping Gengda Panda Center (Sichuan, China)",
    text: "Imitation of the natural environment"
  })
