$st1: #70CB0E;
$st2: #212121;
$st3: #FFFFFF;
$st4: #DFF5B0;
$st5: #FFE68E;
$st6: #9CA498;
$st7: #A7E1FF;

.menuMap {
  top: 0;
  width: 100%;
  height: 100%;
  position: relative;

  .item {
    box-sizing: border-box;
    width: 64px;
    height: 64px;
    background-color: $st1;
    border-radius: 50%;
    border: 2px solid $st3;
    position: absolute;

    &.active {
      border: 4px solid $st1;
    }

    &.eagle {
      top: 490px;
      left: 70px;
    }

    &.alligator {
      top: 510px;
      left: 300px;
    }

    &.gorilla {
      top: 620px;
      left: 650px;
    }

    &.panda {
      top: 530px;
      left: 910px;
    }

    img {
      height: 100%;
      width: 100%;
    }
  }

  .item:hover {
    border: 4px solid $st1;

    .tooltip {
      opacity: 1;
    }
  } 
}
