extends ../templates/map.pug

include ../components/menu-map/menu-map.pug

block title
  | Map

block content
  +menuMap({animal: 'panda'})
  .temp 
    .text(class='usa') USA
    .text(class='drc') Eastern <br>DRC
    .text(class='china') China
