extends ../templates/map.pug

include ../components/menu-map/menu-map.pug

block title
  | Map

block content
  <div class="content">
    +menuMap({animal: 'panda'})
    .temp 
      .text(class='usa') USA
      .text(class='drc') Eastern <br>DRC
      .text(class='china') China

    <img src="../../assets/images/bg-map.png" class="map-img" alt="Map">
  </div>
