$st7: #A7E1FF;

.info2 {
  display: flex;
  background: $st7;
  width: 100%;
  min-height: 60px;

  .left,
  .right {
    width: 50%;
    display: flex;
    align-items: center;
    padding: 20px;
  }

  .title {
    text-transform: uppercase;
    margin-right: 5px;
  }
}
