body {
  font-family: 'Roboto', sans-serif; }

.container {
  max-width: 1160px;
  width: 100%;
  margin: 0 auto; }

section {
  padding: 100px 0;
  display: flex;
  justify-content: center;
  text-align: center; }
  section h2 {
    font-size: 40px;
    font-weight: 500;
    line-height: 47px;
    letter-spacing: 0em; }

header {
  width: 100%;
  min-height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: radial-gradient(71.89% 152.21% at 40.1% 50%, #B5E6FF 0%, #59C3FB 100%); }
  header .container.menu {
    display: flex;
    margin: 12px 0; }
    header .container.menu .left {
      width: 50%;
      height: 58px;
      display: flex;
      justify-content: space-around;
      list-style-type: none; }
      header .container.menu .left .nav {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style-type: none;
        padding: 0; }
        header .container.menu .left .nav .nav-link {
          color: #212121;
          font-size: 18px;
          line-height: 21;
          font-weight: 500;
          text-decoration: none;
          transition: .2s all; }
          header .container.menu .left .nav .nav-link.active {
            text-shadow: -1px -1px 0 #70CB0E, 1px 1px 0 #70CB0E; }
          header .container.menu .left .nav .nav-link:hover {
            color: #70CB0E; }
  header .container.panda {
    background-image: url("../../assets/images/panda.png");
    background-repeat: no-repeat;
    background-position: right center;
    flex-grow: 1;
    margin-top: -30px; }
    header .container.panda h1 {
      width: 570px;
      margin-top: 150px;
      font-size: 70px;
      font-weight: 900;
      line-height: 84px; }

/* /header */
.how .container {
  max-width: 1370px; }

.how .photo {
  height: 555px;
  position: relative; }
  .how .photo .bg1 {
    position: absolute;
    top: 0;
    right: 0;
    width: 860px;
    height: 270px;
    background-image: url("./../../assets/images/how/bg1.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; }
  .how .photo .bg2 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 951px;
    height: 354px;
    background-image: url("./../../assets/images/how/bg2.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; }
  .how .photo .slider {
    height: 100%;
    width: 100%;
    position: relative;
    list-style-type: none; }
    .how .photo .slider .slot {
      position: absolute;
      border: 1px solid #FFFFFF; }
    .how .photo .slider .slot img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
    .how .photo .slider .slot1, .how .photo .slider .slot5 {
      width: 250px;
      height: 350px;
      top: calc(50% - 350px/2);
      background-color: #59C3FB; }
    .how .photo .slider .slot1 {
      left: calc(50% - 250px/2 - 560px); }
    .how .photo .slider .slot5 {
      right: calc(50% - 250px/2 - 560px); }
    .how .photo .slider .slot2, .how .photo .slider .slot4 {
      width: 300px;
      height: 400px;
      top: calc(50% - 400px/2);
      z-index: 5; }
    .how .photo .slider .slot2 {
      left: calc(50% - 300px/2 - 305px); }
    .how .photo .slider .slot4 {
      right: calc(50% - 300px/2 - 305px); }
    .how .photo .slider .slot3 {
      width: 350px;
      height: 450px;
      left: calc(50% - 350px/2);
      top: calc(50% - 450px/2);
      z-index: 10; }

.how .text {
  width: 933px;
  margin: 32px auto 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px; }
  .how .text p {
    margin: 0; }

.pets .left, .pets .right {
  display: flex;
  align-items: center; }

.pets .slider {
  display: flex;
  justify-content: space-between; }
  .pets .slider .item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 233px;
    height: 630px; }
    .pets .slider .item .card {
      width: 233px;
      height: 300px;
      transition: .3s all;
      position: relative; }
      .pets .slider .item .card .title {
        position: absolute;
        top: 0;
        width: 100%;
        display: flex;
        justify-content: center; }
        .pets .slider .item .card .title h4 {
          color: #FFFFFF;
          font-size: 16px;
          line-height: 19px;
          font-weight: 400;
          transition: .3s all; }
      .pets .slider .item .card:hover {
        transform: scale(1.087, 1.1); }
        .pets .slider .item .card:hover h4 {
          font-size: 18px; }

/* /.pets */
.pay .wrapper {
  display: flex;
  justify-content: space-around;
  position: relative; }
  .pay .wrapper .arrows {
    position: absolute;
    top: -150px;
    left: 270px;
    z-index: 10;
    width: 620px;
    height: 620px;
    background-image: url("../../assets/images/pay/arrows.png");
    background-repeat: no-repeat;
    background-position: center; }
  .pay .wrapper .card {
    width: 320px;
    height: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../../assets/images/pay/bg.png");
    background-repeat: no-repeat;
    background-position: center;
    position: relative; }
    .pay .wrapper .card .text {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 38px; }

/* /.pay */
.testimonials .left, .testimonials .right {
  display: flex;
  align-items: center; }

.testimonials .wrapper {
  display: flex;
  justify-content: space-between; }

/* /.testimonials */

.btnGreen {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  background-color: #70CB0E;
  border-radius: 30px;
  border: none;
  outline: none;
  cursor: pointer;
  margin-top: 50px; }

.arrow {
  background-color: #FFE68E;
  background-image: url("../../assets/images/arrow-next.svg");
  background-repeat: no-repeat;
  background-position: 18px center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: none;
  outline: none;
  transition: 1s all;
  cursor: pointer; }
  .arrow.arrow-left {
    transform: rotate(180deg); }
  .arrow.arrow-up {
    transform: rotate(270deg); }
  .arrow.arrow-down {
    transform: rotate(90deg); }

.cardComment {
  width: calc(233px - 40px);
  height: calc(369px - 40px);
  background-color: #A7E1FF;
  padding: 20px; }
  .cardComment .cardComment__top {
    display: flex; }
    .cardComment .cardComment__top img {
      height: 52px;
      width: 52px;
      margin-right: 10px; }
    .cardComment .cardComment__top .title {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start; }
      .cardComment .cardComment__top .title h4 {
        color: #212121;
        font-weight: 500;
        font-size: 16px;
        line-height: 19.2px;
        margin: 0; }
      .cardComment .cardComment__top .title .coin {
        display: flex;
        align-items: center;
        margin-top: 4px; }
        .cardComment .cardComment__top .title .coin .logo {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 12px;
          width: 12px;
          background-color: #FFB600;
          border-radius: 50%;
          margin-right: 3px; }
        .cardComment .cardComment__top .title .coin .text {
          font-weight: 500;
          font-size: 12px;
          line-height: 14.4px; }
  .cardComment .cardComment__bottom p {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: left; }

.cardAnimal {
  width: 233px;
  height: 300px;
  transition: .3s all;
  position: relative; }
  .cardAnimal .title {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center; }
    .cardAnimal .title h4 {
      color: #FFFFFF;
      font-size: 16px;
      line-height: 19px;
      font-weight: 400;
      transition: .3s all; }
  .cardAnimal:hover {
    transform: scale(1.087, 1.1); }
    .cardAnimal:hover h4 {
      font-size: 18px; }

footer {
  height: 270px;
  width: 100%;
  position: relative;
  background-color: #DFF5B0;
  margin-top: 40px;
  /* /line1 */ }
  footer .bg {
    height: 100%;
    width: 100%;
    top: -70px;
    left: 0;
    position: absolute;
    background-image: url("./../../assets/images/bg-footer.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    z-index: -1; }
  footer .line1,
  footer .line2 {
    display: flex;
    padding-top: 70px; }
  footer .line1 .left, footer .line1 .right {
    width: 50%;
    display: flex; }
  footer .line1 .logo {
    width: 100px;
    height: 50px;
    margin-right: 100px; }
    footer .line1 .logo img {
      width: 100%;
      height: 100%; }
  footer .line1 .btn {
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    width: 230px;
    height: 50px;
    background-color: #70CB0E;
    border-radius: 30px;
    border: none;
    outline: none;
    cursor: pointer; }
  footer .line1 .right {
    display: flex;
    justify-content: space-between; }
    footer .line1 .right .social {
      width: 190px;
      display: flex;
      justify-content: space-between; }
  footer .line1 a {
    display: block;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    margin-bottom: 15px;
    text-decoration: none;
    transition: .2s all;
    color: #212121; }
  footer .line2 {
    position: relative;
    display: flex;
    justify-content: center; }
    footer .line2 .logos {
      display: flex;
      position: absolute;
      left: 0;
      bottom: 0; }
      footer .line2 .logos .rss {
        width: 140px;
        height: 50px;
        margin-right: 60px; }
      footer .line2 .logos .yem {
        width: 100px;
        height: 50px; }
      footer .line2 .logos img {
        width: 100%;
        height: 100%; }
    footer .line2 .design {
      position: absolute;
      right: 0;
      bottom: 0; }
    footer .line2 .text {
      font-size: 18px;
      font-weight: 400;
      line-height: 21px;
      color: #212121; }

header {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFFFFF; }
  header .container.menu {
    display: flex;
    margin: 12px 0; }
    header .container.menu .left {
      width: 50%;
      height: 58px;
      display: flex;
      justify-content: space-around;
      list-style-type: none; }
      header .container.menu .left .nav {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style-type: none;
        padding: 0; }
        header .container.menu .left .nav .nav-link {
          color: #212121;
          font-size: 18px;
          line-height: 21;
          font-weight: 500;
          text-decoration: none;
          transition: .2s all; }
          header .container.menu .left .nav .nav-link.active {
            text-shadow: -1px -1px 0 #70CB0E, 1px 1px 0 #70CB0E; }
          header .container.menu .left .nav .nav-link:hover {
            color: #70CB0E; }

/* /header */

.info {
  display: flex;
  justify-content: space-between;
  background: #A7E1FF;
  width: calc(100% - 40px);
  height: auto;
  max-height: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  transition: all 1s;
  text-align: left; }
  .info .left {
    width: calc(100% - 85px); }
  .info .right {
    display: flex;
    align-items: center;
    margin-top: -12px;
    margin-bottom: -12px; }
    .info .right .arrow {
      background-color: #FFE68E;
      background-image: url(../../../../assets/images/arrow-next.svg);
      background-repeat: no-repeat;
      background-position: 18px center;
      width: 45px;
      height: 45px;
      border-radius: 50%;
      border: none;
      outline: none;
      transform: rotate(270deg);
      transition: 1s all;
      cursor: pointer; }
  .info .title {
    text-transform: uppercase; }
  .info .text {
    margin-bottom: 0;
    opacity: 0;
    transition: all 1s; }
  .info.open {
    max-height: 200px; }
    .info.open .text {
      opacity: 1; }
    .info.open .arrow {
      transform: rotate(90deg); }

.info2 {
  display: flex;
  background: #A7E1FF;
  width: 100%;
  min-height: 60px; }
  .info2 .left,
  .info2 .right {
    width: 50%;
    display: flex;
    align-items: center;
    padding: 20px; }
  .info2 .title {
    text-transform: uppercase;
    margin-right: 5px; }
