$st1: #70CB0E;
$st2: #212121;
$st3: #FFFFFF;
$st4: #DFF5B0;
$st5: #FFE68E;
$st6: #9CA498;
$st7: #A7E1FF;

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 1160px;
  width: 100%;
  margin: 0 auto;
}

section {
  padding: 100px 0;
  display: flex;
  justify-content: center;
  text-align: center;

  h2 {
    font-size: 40px;
    font-weight: 500;
    line-height: 47px;
    letter-spacing: 0em;
  }
}


header {
  width: 100%;
  min-height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: radial-gradient(71.89% 152.21% at 40.1% 50%, #B5E6FF 0%, #59C3FB 100%);

  .container.menu {
    display: flex;
    margin: 12px 0;

    .left {
      width: 50%;
      height: 58px;
      display: flex;
      justify-content: space-around;
      list-style-type: none;
      
      .nav {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style-type: none;
        padding: 0;
      
        .nav-link {
          color: $st2;
          font-size: 18px;
          line-height: 21;
          font-weight: 500;
          text-decoration: none;
          transition: .2s all;

          &.active {
            text-shadow: -1px -1px 0 $st1, 1px 1px 0 $st1;
          }

          &:hover {
            color: $st1;
          }
        }  
      }
    }
  }

  .container.panda {
    background-image: url('../../assets/images/panda.png');
    background-repeat: no-repeat;
    background-position: right center;
    flex-grow: 1;
    margin-top: -30px;

    h1 {
      width: 570px;
      margin-top: 150px;
      font-size: 70px;
      font-weight: 900;
      line-height: 84px;
    }
  }
}
/* /header */


.how {
  .container {
    max-width: 1370px;
  }

  .photo {
    height: 555px;
    position: relative;

    .bg1 {
      position: absolute;
      top: 0;
      right: 0;
      width: 860px;
      height: 270px;
      background-image: url('./../../assets/images/how/bg1.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }

    .bg2 {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 951px;
      height: 354px;
      background-image: url('./../../assets/images/how/bg2.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }

    .slider {
      height: 100%;
      width: 100%;
      position: relative;
      list-style-type: none;

      .slot {
        position: absolute;
        border: 1px solid $st3;
      }

      .slot img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .slot1, .slot5 {
        width: 250px;
        height: 350px;
        top: calc(50% - 350px/2);
        background-color: #59C3FB;
      }

      .slot1 { left: calc(50% - 250px/2 - 560px); }
      .slot5 { right: calc(50% - 250px/2 - 560px); }


      .slot2, .slot4 {
        width: 300px;
        height: 400px;
        top: calc(50% - 400px/2);
        z-index: 5;
      }

      .slot2 { left: calc(50% - 300px/2 - 305px); }
      .slot4 { right: calc(50% - 300px/2 - 305px); }

      .slot3 {
        width: 350px;
        height: 450px;
        left: calc(50% - 350px/2);
        top: calc(50% - 450px/2);
        z-index: 10;
      }
    }
  }

  .text {
    width: 933px;
    margin: 32px auto 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    p {
      margin: 0;
    }
  }
}


.pets {
  .left, .right {
    display: flex;
    align-items: center;
  }
  .slider {
    display: flex;
    justify-content: space-between;

    .item {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 233px;
      height: 630px;

      .card {
        width: 233px;
        height: 300px;
        transition: .3s all;
        position: relative;

        .title {
          position: absolute;
          top: 0;
          width: 100%;
          display: flex;
          justify-content: center;

          h4 {
            color: $st3;
            font-size: 16px;
            line-height: 19px;
            font-weight: 400;
            transition: .3s all;
          }
        }
        
        &:hover {
          transform: scale(1.087, 1.1);

          h4 {
            font-size: 18px;
          }
        }
      }
    }
  }  
}
/* /.pets */


.pay {
  .wrapper {
    display: flex;
    justify-content: space-around;
    position: relative;

    .arrows {
      position: absolute;
      top: -150px;
      left: 270px;
      z-index: 10;
      width: 620px;
      height: 620px;
      background-image: url('../../assets/images/pay/arrows.png');
      background-repeat: no-repeat;
      background-position: center;
    }

    .card {
      width: 320px;
      height: 320px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-image: url('../../assets/images/pay/bg.png');
      background-repeat: no-repeat;
      background-position: center;
      position: relative;

      .text {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 38px;
      }
    }
  }
}
/* /.pay */


.testimonials {
  .left, .right {
    display: flex;
    align-items: center;
  }
  .wrapper {
    display: flex;
    justify-content: space-between;
  }  
}
/* /.testimonials */
