$st1: #70CB0E;
$st2: #212121;
$st3: #FFFFFF;
$st4: #DFF5B0;
$st5: #FFE68E;
$st6: #9CA498;
$st7: #A7E1FF;

$bpM: 639px;
$bpT: 1199px;
$bpL: 1919px;

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 1160px;
  width: 100%;
  margin: 0 auto;

  /* laptop */
  @media only screen and (max-width: $bpL) {
    max-width: 1160px;
  }

  /* tablet */
  @media only screen and (max-width: $bpT) {
    max-width: 600px;
  }

  /* mobile */
  @media only screen and (max-width: $bpM) {
    max-width: calc(100% - 20px);
  }
}

section {
  padding: 100px 0;
  display: flex;
  justify-content: center;
  text-align: center;

  h2 {
    font-size: 40px;
    font-weight: 500;
    line-height: 47px;
    letter-spacing: 0em;
    margin: 0;
    margin-bottom: 80px;
  }
}

.no-tablet {
  @media only screen and (max-width: $bpT) {
    display: none !important;
  }
}

.no-mobile {
  @media only screen and (max-width: $bpM) {
    display: none !important;
  }
}

.only-mobile {
  display: none !important;

  @media only screen and (max-width: $bpM) {
    display: block !important;
  }
}

.arrows-mobile {
  width: 148px;
  height: 64px;
  margin: 30px auto 60px;
  display: none;
  align-items: center;
  justify-content: space-between;

  @media only screen and (max-width: $bpM) {
    display: flex;
  }
}


.headerWrapper {
  width: 100%;
  min-height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: radial-gradient(71.89% 152.21% at 40.1% 50%, #B5E6FF 0%, #59C3FB 100%);

  .bg1 {
    position: absolute;
    top: 0;
    left: 190px;
    height: 700px;
    width: 1050px;
    background-image: url('../../assets/images/bg-drops2.svg');
    background-repeat: no-repeat;
    background-position: center;
    z-index: 0;

    @media only screen and (max-width: $bpL) {
      left: -230px;
    }

    @media only screen and (max-width: $bpT) {
      display: none;
    }
  }

  .bg2 {
    position: absolute;
    top: 0;
    left: 44%;
    height: 700px;
    width: 700px;
    background-image: url('../../assets/images/bg-drops1.svg');
    background-repeat: no-repeat;
    background-position: center;
    z-index: 10;

    @media only screen and (max-width: $bpL) {
      right: 0;
      left: auto;
    }
  }

  .container.panda {
    flex-grow: 1;
    margin-top: -30px;
    position: relative;
    background-image: url('../../assets/images/panda.png');
    background-repeat: no-repeat;
    background-position: right bottom;

    @media only screen and (max-width: $bpM) {
      background-position: left bottom;
      z-index: 10;
      margin-right: 0;
    }

    h2 {
      width: 570px;
      margin-top: 150px;
      font-size: 70px;
      line-height: 84px;
      font-weight: 900;

      @media only screen and (max-width: $bpM) {
        width: 220px;
        margin-top: 150px;
        font-size: 50px;
        line-height: 60px;
        font-weight: 900;
      }      
    }
  }
}
/* /header */


.how {
  @media only screen {
    .container {
      max-width: 1370px;
    }
  }

  @media only screen and (max-width: $bpL) {
    .container {
      max-width: 1200px;
    }
  }

  .photo {
    height: 555px;
    position: relative;
    overflow: hidden;

    .bg1 {
      position: absolute;
      top: 0;
      right: 0;
      width: 860px;
      height: 270px;
      background-image: url('./../../assets/images/how/bg1.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;

      @media only screen and (max-width: $bpL) {
        top: 20px;
        right: -100px; 
      }

      @media only screen and (max-width: $bpM) {
        top: 0;
        right: -440px; 
      }
    }

    .bg2 {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 951px;
      height: 354px;
      background-image: url('./../../assets/images/how/bg2.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;

      @media only screen and (max-width: $bpL) {
        bottom: -30px;
        left: -100px;   
      }

      @media only screen and (max-width: $bpM) {
        bottom: -30px;
        left: -490px;   
      }
    }

    .slider {
      height: 100%;
      width: 100%;
      position: relative;
      list-style-type: none;
      padding: 0;

      .slot {
        position: absolute;
        border: 1px solid $st3;
      }

      .slot img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .slot1, .slot5 {
        width: 250px;
        height: 350px;
        top: calc(50% - 350px/2);
        background-color: #59C3FB;
      }

      .slot1 { left: calc(50% - 250px/2 - 560px); }
      .slot5 { right: calc(50% - 250px/2 - 560px); }


      .slot2, .slot4 {
        width: 300px;
        height: 400px;
        top: calc(50% - 400px/2);
        z-index: 5;
      }

      .slot2 { left: calc(50% - 300px/2 - 305px); }
      .slot4 { right: calc(50% - 300px/2 - 305px); }

      .slot3 {
        width: 350px;
        height: 450px;
        left: calc(50% - 350px/2);
        top: calc(50% - 450px/2);
        z-index: 10;
      }

      @media only screen and (max-width: $bpL) {
        .slot1 { left: calc(50% - 250px/2 - 460px); }
        .slot5 { right: calc(50% - 250px/2 - 460px); }
        
        .slot2 { left: calc(50% - 300px/2 - 255px); }
        .slot4 { right: calc(50% - 300px/2 - 255px); }        
      }

      @media only screen and (max-width: $bpM) {
        .slot1, .slot3 {
          width: 140px;
          height: 215px;
        }

        .slot2, .slot4 {
          width: 160px;
          height: 215px;
        }

        .slot5 {
          display: none;
        }


        .slot1 {
          left: calc(50% - 140px/2 + 60px);
          top: calc(262px - 180px); /* 262 => 105 */
          z-index: 40;
        }

        .slot3 {
          left: calc(50% - 140px/2 - 60px);
          top: calc(427px - 180px);
          z-index: 50;
        }
        
        .slot2 {
          left: calc(50% - 160px/2 - 70px);
          top:  calc(227px - 180px);
          z-index: 30;          
        }

        .slot4 {
          left: calc(50% - 160px/2 + 70px);
          top:  calc(462px - 180px);
          z-index: 30;          
        }     
      }
    }
  }

  .text {
    width: 933px;
    margin: 32px auto 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    @media only screen and (max-width: $bpT) {
      width: 536px;
    }

    @media only screen and (max-width: $bpM) {
      width: 300px;
    }

    p {
      margin: 0;
    }
  }
}


.pets {
  .left, .right {
    display: flex;
    align-items: center;
  }
  .slider {
    display: flex;
    justify-content: space-between;

    .item {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 233px;
      height: 630px;

      @media only screen and (max-width: $bpT) {
        width: 186px;
      }
    
      @media only screen and (max-width: $bpM) {
        width: calc(50% - 5px);
      }
    }
  }  
}
/* /.pets */


.pay {
  .wrapper {
    display: flex;
    justify-content: space-around;
    position: relative;

    @media only screen and (max-width: $bpM) {
      flex-direction: column;
      align-items: center;
    }

    .arrows {
      position: absolute;
      top: -150px;
      left: 270px;
      z-index: 10;
      width: 620px;
      height: 620px;
      background-image: url('../../assets/images/pay/arrows.png');
      background-repeat: no-repeat;
      background-position: center;
    }

    .card {
      width: 320px;
      height: 320px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-image: url('../../assets/images/pay/bg.png');
      background-repeat: no-repeat;
      background-position: center;
      position: relative;

      @media only screen and (max-width: $bpM) {
        width: 263px;
        height: 295px;
        margin-bottom: 10px;
      }

      .text {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 38px;
      }
    }
  }
}
/* /.pay */


.testimonials {
  .wrapper {
    display: flex;
    justify-content: space-between;

    @media only screen and (max-width: $bpM) {
      flex-direction: column;
    }
  }

  .left, .right {
    display: flex;
    align-items: center;
  }
}
/* /.testimonials */
